In [25]:
import pandas as pd
import numpy as np
import string 
import random
np.random.seed(56)

In [24]:
pd.DataFrame({"a":[1,2],"b":[3,4],"c":[5,6]}, index=[1,2])

   a  b  c
1  1  3  5
2  2  4  6

In [7]:
pd.DataFrame([[1,2,3],[4,5,6]], index=[1,2], columns=["A","B","C"])

   A  B  C
1  1  2  3
2  4  5  6

In [8]:
pd.DataFrame([[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]], index=[1,2,3,4], columns=["A","B","C","D"])

    A   B   C   D
1   1   2   3   4
2   5   6   7   8
3   9  10  11  12
4  13  14  15  16

In [13]:
pd.Series({"A":"서울","B":"부산","C":"인천"})

A    서울
B    부산
C    인천
dtype: object

In [22]:
pd.DataFrame(np.random.randint(0, 100, size=(2,3)))

    0   1   2
0   8  45  76
1  99  83  92

In [26]:
''.join(random.choice(string.ascii_letters) for i in range(5))

'AfMvR'